/* 
Some inspiration for my navigation bar was taken from my Multimedia Analysis and Design website.
This can be accessed here - https://jenny-j07.github.io/GamesInEducation/index.html

I also looked at w3schools to find out more information about css.
This can be accessed here - https://www.w3schools.com/css/
*/


#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}


:root {
	box-sizing: border-box;
}

*,
::before
::after{
	box-sizing: inherit;
}

.title {
  text-align: center;
	padding: 5px;
	background-color: #9257c2;
}

body {
  font-family: Arial;
  margin: 0;
}

.main-page {
  padding: 30px; 
  font-size: 17px;
}

#front-page {

  line-height: 150%;
}

.nav-bar {
  font-family: Arial;
  background-color: rgb(19, 0, 37);
  height: 70px;
  overflow: hidden;
}

.nav-bar .nav-options {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-bar .nav-item {
  display: inline-block;
  height: 100%;
  padding-top: 25px;
  padding-left: 5%;
}

.nav-bar .nav-item a {
  color: rgb(242, 224, 255);
  font-size: 21px;
  text-decoration: none;
}

.nav-bar .nav-item a:hover{
  color: rgb(142, 255, 132);
  font-size: 23px;
}

.nav-bar .active a:hover{
  font-size: 21px;
  color: #9257c2;
}

.nav-bar .active a {
  color: #9257c2;
}


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .header {
 flex: 0 1 auto;
}
.box #app {
  flex: 1 1 auto;
}



.grid_layout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.section {
  padding-top: 5px;
  text-align: center;
  padding-bottom: 20px;
}

.even {
  background-color: rgb(251, 238, 255);
}

.odd {
  background-color: rgb(240, 255, 238);
}

.analysis {
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(251, 238, 255);
  padding: 25px;
}


.page-list ul li a{
  text-decoration: none;
  color: purple;
}

.page-list ul{ 
  list-style: none;
}


.grid-half {
  display: grid;
	grid-template-columns: repeat(2, 1fr);

	margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

footer { 
  background-color: rgb(19, 0, 37);
  color: rgb(242, 224, 255);
  height: 100px;
  text-align: center;
}

footer p {
  padding: 40px;
}